Parte_Luciana/flows (1).json
[
    {
        "id": "5b66878897a74273",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "144c5f98f21baeb8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.janks.dev.br",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "03da18381bbe68c7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed9052e6cf71e9be",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_broker_cfg",
        "type": "mqtt-broker",
        "name": "SEU MQTT",
        "broker": "SEU_BROKER_AQUI",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "verifyservercert": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "5a9f7cee70e965a7",
        "type": "mqtt-broker",
        "name": "MQTT projeto final",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mysql_cfg",
        "type": "MySQLdatabase",
        "name": "SEU BANCO",
        "host": "SEU_HOST",
        "port": "3306",
        "db": "SEU_DATABASE",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1d40b3eca0715f03",
        "type": "postgreSQLConfig",
        "name": "projeto final iot",
        "host": "postgresql.janks.dev.br",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "projeto_b",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "pepcon-garton",
        "passwordFieldType": "str"
    },
    {
        "id": "mqtt_in_check",
        "type": "mqtt in",
        "z": "5b66878897a74273",
        "name": "receber-rfid",
        "topic": "check-cadastro",
        "qos": "0",
        "datatype": "auto",
        "broker": "5a9f7cee70e965a7",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "fc65649b4d704201",
                "2d19301c6ca46a42"
            ]
        ]
    },
    {
        "id": "mqtt_out_resposta",
        "type": "mqtt out",
        "z": "5b66878897a74273",
        "name": "possui-cadastro",
        "topic": "possui-cadastro",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a9f7cee70e965a7",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "d375c1f9c8b6b57d",
        "type": "postgresql",
        "z": "5b66878897a74273",
        "name": "",
        "query": "SELECT * \nFROM base_bandejao\nWHERE rfid = $rfid;",
        "postgreSQLConfig": "1d40b3eca0715f03",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "80907629d4ed7809",
                "aea80b13db56141c"
            ]
        ]
    },
    {
        "id": "fc65649b4d704201",
        "type": "change",
        "z": "5b66878897a74273",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters.rfid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "d375c1f9c8b6b57d",
                "7528df2b27b8f9cd"
            ]
        ]
    },
    {
        "id": "2d19301c6ca46a42",
        "type": "debug",
        "z": "5b66878897a74273",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 400,
        "wires": []
    },
    {
        "id": "80907629d4ed7809",
        "type": "switch",
        "z": "5b66878897a74273",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "mqtt_out_resposta"
            ],
            [
                "ecfa4177d46bc092"
            ]
        ]
    },
    {
        "id": "ecfa4177d46bc092",
        "type": "mqtt out",
        "z": "5b66878897a74273",
        "name": "",
        "topic": "falta-cadastro",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a9f7cee70e965a7",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "7528df2b27b8f9cd",
        "type": "debug",
        "z": "5b66878897a74273",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "aea80b13db56141c",
        "type": "debug",
        "z": "5b66878897a74273",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "83711843c115ea3b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "2.0.0",
            "node-red-contrib-postgresql": "0.15.4"
        }
    }
]